/**
 * CSS to be used in index.html, with local version.
 */

.hidden {
  visibility: hidden;
}

#screen {
  position: relative;
  width: 1409px;
  height: 792px;
  background: #0000ff;
}

#app-pannel {
  background-color: white;
  width: 300px;
  height: 563px;
  overflow: hidden;
}

.scorer {
  background-image: url('../images/scoreboard.png');
  color: #FFFFFE;
  width: 253px;
  height: 50px;
  padding-top: 2px;
  padding-left: 8px;
  background-size: 256px 52px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.line {
  padding-top: 2px;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bolder;
  line-height: 21px;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #FFFFFE;
  margin: 5px 3px;
  float: left;
}

.player-name {
  text-transform: uppercase;
  width: 168px;
  float: left;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.set {
  color: black;
  float: left;
  margin-left: 6px;
}

.point {
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: right;
  margin-right: 18px;
}

.watch {
  background-image: url('../images/watch.png');
  background-size: 80px 40px;
  color: #FFFFFE;
  font-family: arial;
  font-size: 23px;
  font-weight: bold;
  height: 40px;
  line-height: 42px;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  width: 80px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.comment-box {
  background-image: url('../images/comment.png');
  width: 326px;
  height: 62px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 28px 12px 8px 12px;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.poll-box {
  background-image: url('../images/poll_background.png');
  width: 326px;
  height: 62px;
  top: 390px;
  left: 620px;
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  padding: 28px 12px 8px 12px;
  font-size: 14px;
}

.poll-line {
  width: 342px;
}

.poll-value {
  width: 44px;
  float: left;
  text-align: right;
  padding-right: 6px;
}

.poll-bar {
  background-image: url(../images/poll_bar_25.png);
  background-repeat: no-repeat;
  min-width: 75px;
  height: 14px;
  float: left;
}

#logo {
  position: absolute;
  right: 20px;
  top: 20px;
}
