body, html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

input[type=text] {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  padding: 2px 5px;
  width: 122px;
  text-align: center;
  box-sizing: border-box;
}

input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

input[type=text]:focus {
  border: 1px solid #4d90fe;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

input[type=checkbox] {
  vertical-align: middle;
}

.hidden {
  visibility: hidden;
}

.height-zero {
  height: 0px!important;
}

.button {
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(top,#e5e5e5,#f1f1f1);
  color: #444;
  border: 1px solid rgba(0,0,0,0.1);
  text-shadow: 0 1px rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 25px;
  line-height: 25px;
  outline: 0;
  padding: 0 8px;
  font-family: arial,sans-serif;
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#333));
	background: -moz-linear-gradient(bottom, #ddd, #aaa);
}

.button:hover {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.jfk-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}

.red-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.red-button:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  background-color: #c53727;
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  border: 1px solid #b0281a;
  border-bottom-color: #af301f;
}

.error-box {
  background-color: #dd4b39;
  background-image: linear-gradient(to bottom,#dd4b39,#d14836);
  border: 1px solid #602019;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  z-index: 3;

  position: absolute;
  left: 50%;
  top: 9px;
  width: 270px;
  padding: 6px;
  margin-left: -141px;
}

.warning {
  border-color: #f0c36d;
  background-image: linear-gradient(to bottom, #f9edbe, #f9edbe);
  background-color: #f9edbe;
  color: #333;
  text-shadow: #f0c36d 0.1em 0.1em 0.2em;
}

.checkbox-label {
  font-family: sans-serif;
  font-size: 12px;
}

.title {
  padding-top: 2px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bolder;
  line-height: 21px;
}

.controls-container {
  position: relative;
  border: solid 1px #b9b9b9;
  border-radius: 3px;
  margin: 20px 5px 0px 5px;
  padding: 10px 5px;
}

.table-image {
  background-image:
    url('https://table-tennis-scoreboard.googlecode.com/git/images/table.png');
  width: 280px;
  height: 80px;
  margin: 05px 0px;
}

.input-name-box {
  position: absolute;
  top: 10px;
  transition: left 1s;
}

.score-btn {
  float: right;
  height: 35px;
  width: 175px;
}

.minor-label {
  float: left;
  height: 70px;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 13px;
}

.path-1 {
  height: 30px;
  border-bottom: solid 1px gray;
  width: 5px;
  float: left;
  margin-left: 5px;
}

.path-2 {
  height: 34px;
  border: solid 1px gray;
  width: 6px;
  float: left;
  margin-top: 12px;
  border-right: 0px;
  border-radius: 2px 0 0 2px;
}

.zip-container {
  margin: 15px 5px 0px 5px;
  font-family: sans-serif;
  font-size: 13px;
}

.zip-control {
  background-color: #f0f0f0;
}

.zip-control:hover {
  background-color: #e5e5e5;
}

.zip-content-animator {
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
}

.zip-content {
  border: solid 1px #b9b9b9;
  border-radius: 3px;
  padding: 5px;
}

.zip-content td {
  font-size: 13px;
}

.legend-icon {
  text-align: center;
  font-family: monospace;
  width: 16px;
  font-weight: bold;
}

#controls-cover {
  background-color: rgba(255, 255, 255, 0.5);
  height: 227px;
  width: 300px;
  position: absolute;
  z-index: -1;
}

#comment-box-pannel input[type=text] {
  width: 205px;
  text-align: left;
}

#setup-pannel input[type=button] {
  width: 56px;
  margin-left: 2px;
}
