<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<ModulePrefs title="Table Tennis Scoreboard">
	<Require feature="rpc" />
	<Require feature="views" />\
	<Require feature="locked-domain" /> \
</ModulePrefs>
<Content type="html"><![CDATA[

<html>
<link rel="stylesheet" type="text/css"
      href="https://table-tennis-scoreboard.googlecode.com/git/css/style.css" />
<head>
	<title>Ping Pong</title>
	<meta http-equiv="Content-Type" content="text/html; charset = iso-8859-1" />
</head>

<body>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="https://hangoutmediastarter.appspot.com/static/html5slider.js"></script>


<div id='fullUI'>
  <input class="button" type="button" value="Display Image" id="topHatButton"
         onClick="drawImageOverlayTest();"/>
</div>
<div id="overlayControls">
  <br>
	<input id="scale-input" type="text" style="width:100px;" />
	<input class="button" type="button" value="Scale" 
         onClick="onSetScale(document.querySelector('#scale-input').value)"/>
  <br>
	<input id="xoffset-input" type="text" style="width:100px;" />
	<input class="button" type="button" value="X Offset" 
         onClick="onSetScale(document.querySelector('#xoffset-input').value)"/>
  <br>
	<input id="yoffset-input" type="text" style="width:100px;" />
	<input class="button" type="button" value="Y Offset" 
         onClick="onSetScale(document.querySelector('#yoffset-input').value)"/>
</div>

<div id='arbitraryURILoader'>
  Format: text, fontSize, color, bold, shadow, align, xPos, yPos [, c]<br>
	<input id="loadableURI" type="text" 
	       placeholder="Enter an image URL that ends in .png"
	       style="width:300px;"
	       />
	<input class="button"
	       type="button" 
	       value="Show Text" id="animatedButton"
               onClick="drawTextOverlayTest(document.querySelector('#loadableURI').value)"/>
</div>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/find_overlay_setup.js">
</script>

<center>
<div id="error-msg" class="hidden error-box">
  You should not be seing this message
</div>

<div id="app-controls" style="margin-top: 20px;">
	<input type="button" class="button" id="hide-app" value="Hide App"
         style="width: 80px;" />
	<input type="button" class="button" id="new-game" value="New Match" />
</div>
</center>

<div id="app-interaction">
  <div id="controls-cover">
  </div>
  <div id="player-names" class="controls-container" />
    <div class="table-image" ></div>
    <center>
      <label class="checkbox-label"
             title="Auto invert player sides at the end of each set">
        <input id="auto-invert" type="checkbox" checked />
        Auto-invert
      </label>
    </center>
    <input id="player1name" type="text" value="PLAYER1" class="input-name-box"
           maxlength="15" style="left: 10px;"/>
    <input id="player2name" type="text" value="PLAYER2" class="input-name-box"
           maxlength="15" style="left: 156px;" />
  </div>

  <div id="scoring" class="controls-container" />
    <div id="score-buttons" style="height: 70px;" >
      <div class="minor-label">
        Score point for
      </div>
      <div class="path-1"></div>
      <div class="path-2"></div>
      <div class="score-btn">
        <input id="score-player1" style="width: 100%;" class="button"
               type="button" value="PLAYER1" />
      </div>
      <div class="score-btn">
        <input id="score-player2" style="width: 100%;" class="button"
               type="button" value="PLAYER2" />
      </div>
    </div>

    <center>
      <input id="undo" class="jfk-button red-button" type="button" value="Undo" />
    </center>
  </div>

  <div id="load-logo-container" class="zip-container" />
    <div id="load-logo-control" class="zip-control">
      <label class="title">Load Logo</label>
    </div>
    <div id="load-logo-box" class="load-logo-box height-zero" >
      <div class="load-logo-box-content">
        You can also load any arbitrary PNG image as a logo.
        Enter a valid URL below.
        <center>
          <input id="loadable-uri" type="text"
                 placeholder="Enter an image URL that ends in .png"
                 style="width: 260px; margin: 5px 0px;" />
          <input id="load-logo" class="button" type="button" value="Load Logo" />
        </center>
      </div>
    </div>
  </div>

  <div id="help-container" class="zip-container" />
    <div id="help-control" class="zip-control">
      <label class="title">Show keyboard shortcuts</label>
    </div>
    <div id="help-box" class="load-logo-box height-zero" >
      <div class="load-logo-box-content">
        <table style="font-family: sans-serif; font-size: 13px;">
          <tr>
            <td class="legend-icon">&larr;</td>
            <td>Score 1 point for <b><span id="p1name">PLAYER1</span></b>.
            </td>
          </tr>
          <tr>
            <td class="legend-icon">&rarr;</td>
            <td>Score 1 point for <b><span id="p2name">PLAYER2</span></b>.
            </td>
          </tr>
          <tr>
            <td class="legend-icon">&darr;</td>
            <td>Undo last scoring.</td>
          </tr>
          <tr>
            <td class="legend-icon">&uarr;</td>
            <td>Invert players position at the table.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>



<script>
var CANVAS_WIDTH = 640;
var CANVAS_HEIGHT = 360;

function updateMirroring() {
  var val =  document.querySelector('#mirror-checkbox').checked;
  gapi.hangout.av.setLocalParticipantVideoMirrored(val);
}

function init() {
  gapi.hangout.onApiReady.add(function(eventObj) {
    console.log("everything ready");
  });
  gapi.hangout.av.setLocalParticipantVideoMirrored(false);
}
gadgets.util.registerOnLoadHandler(init);
</script>

<script src="https://table-tennis-scoreboard.googlecode.com/git/js/scoreboard.js">
</script>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/chronometer.js">
</script>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/gtvlogo.js">
</script>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/main.js">
</script>

]]>
</Content>
</Module>
