<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<ModulePrefs title="Table Tennis Scoreboard">
	<Require feature="rpc" />
	<Require feature="views" />\
	<Require feature="locked-domain" /> \
</ModulePrefs>
<Content type="html"><![CDATA[
<html>
<link rel="stylesheet" type="text/css"
      href="https://table-tennis-scoreboard.googlecode.com/git/css/style.css" />
<head>
	<title>Ping Pong</title>
	<meta http-equiv="Content-Type" content="text/html; charset = iso-8859-1" />
</head>
<body>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="https://hangoutmediastarter.appspot.com/static/html5slider.js"></script>

<!--
********************************************************************************
* START PASTING HERE
********************************************************************************
-->


<div id='fullUI'>
	<input id="loadableURI" type="text" 
	       placeholder="Enter an image URL that ends in .png"
	       style="width:300px;"
	       />
  <input class="button" type="button" value="Display Image" id="topHatButton"
         onClick="drawImageOverlayTest(document.querySelector('#loadableURI').value);"/>
</div>
<div id="overlayControls">
  <br><br>
	<input id="scale-input" type="text" style="width:100px;" />
	<input id="scale-ref-input" type="text" value="H" style="width:10px;" />
	<input class="button" type="button" value="Scale!" 
         onClick="onSetScale(
             document.querySelector('#scale-input').value,
             document.querySelector('#scale-ref-input').value)"/>
  <br><br>
	<input id="xoffset-input" type="text" style="width:100px;" />
	<input class="button" type="button" value="X Offset" 
         onClick="onSetOffsetX(document.querySelector('#xoffset-input').value)"/>
  <br><br>
	<input id="yoffset-input" type="text" style="width:100px;" />
	<input class="button" type="button" value="Y Offset" 
         onClick="onSetOffsetY(document.querySelector('#yoffset-input').value)"/>
</div>

<br><br>
<div id='arbitraryURILoader'>
  Format: text, fontSize, color, bold, shadow, align, xPos, yPos [, c]<br>
	<input id="textFormat" type="text" 
	       placeholder="Enter an image URL that ends in .png"
	       style="width:300px;"
	       />
	<input class="button"
	       type="button" 
	       value="Show Text" id="animatedButton"
               onClick="drawTextOverlayTest(document.querySelector('#textFormat').value)"/>
</div>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/find_overlay_setup.js">
</script>


<!--
********************************************************************************
* STOP PASTING HERE
********************************************************************************
-->

<script>
var CANVAS_WIDTH = 640;
var CANVAS_HEIGHT = 360;

function init() {
  gapi.hangout.onApiReady.add(function(eventObj) {
    console.log("everything ready");
  });
  gapi.hangout.av.setLocalParticipantVideoMirrored(false);
}
gadgets.util.registerOnLoadHandler(init);
</script>

<script src="https://table-tennis-scoreboard.googlecode.com/git/js/scoreboard.js">
</script>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/chronometer.js">
</script>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/gtvlogo.js">
</script>
<script src="https://table-tennis-scoreboard.googlecode.com/git/js/main.js">
</script>

]]>
</Content>
</Module>
